<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/simple-sidebar.css" rel="stylesheet">

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-10">

        <h2>Welcome to Humanus Hospital</h2>
        <p>
            Here you can perform tasks that are patient related.
            Please use the menu in order to go to the registration.
        </p>

    </div>
</div>