@model IEnumerable<HospitalManagement_Web.Models.Registration>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/simple-sidebar.css" rel="stylesheet">

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-10">

        <h2>Welcome to Staff page.</h2>
        <p>
           This page is currently not in use. Please go back. 
            Shoo shoo
        </p>

    </div>
</div>


